td.clickable:hover {
  background-color: #dfdfdf;
  cursor: pointer;
}

input {
  border: 1px dashed black;
}

th:hover {
  text-decoration: underline;
  background-color: #dfdfdf;
  cursor: pointer;
}

table {
  background-color: white;
  border-radius: 5px;
}

div.whiteBg {
  background-color: white;
}

.zebra {
  background-color: rgb(212, 240, 255);
}
.zrow {
  background-color: rgb(174, 225, 252);
}

.data_container {
  background-color: rgb(212, 240, 255);
}
